<table class="championsQueueStandingsTable">
    {% if standings.length === 0 %}
        <thead>
            <td>{{ 'NO_STANDINGS_FOUND' | translate }}</td>
        </thead>
    {% else %}
        {# Title #}
        {% if config.showTitle %}
            <thead>
                <tr>
                    <div>
                        {{seasonTitle}}
                        {% if config.showCurrentSplit %}
                            -
                            {{splitTitle}}
                        {% endif %}
                    </div>
                </tr>
            </thead>
        {% endif %}
        {# Remaining Time #}
        {% if config.showRemainingTime %}
            <tr class="championsQueueDaysRemaining">
                <td>
                    {% if config.showCurrentSplit %}
                        {{splitDaysRemaining}}
                    {% else %}
                        {{seasonDaysRemaining}}
                    {% endif %}
                    {{'DAYS_REMAINING' | translate}}
                </td>
            </tr>
        {% endif %}
        {# Loop players #}
        {% for player in players %}
            <tr class="championsQueueRow">
                <td colspan="100%">
                    {# Not First Rank or duplicate rank - append rank #}
                    {% if loop.index1 !== 0 and players[loop.index0 - 1].rank !== player.rank %}
                        {% if config.showPlayerLP %}
                            <span class="championsQueueLP">{{player.lp}}LP</span>
                        {% else %}
                            <span class="championsQueueRank">{{player.rank}}.</span>
                        {% endif %}
                    {% else %}
                        {# If previous player rank is current players rank, hide rank #}
                        {% if config.showPlayerLP %}
                            <span class="championsQueueLPInvisible">{{player.lp}}LP</span>
                        {% else %}
                            <span class="championsQueueRankInvisible">{{player.rank}}.</span>
                        {% endif %}
                    {% endif %}
                    <span>{{player.name}}</span>
                    {% if config.showPlayerWinRates %}
                        <span class="championsQueuePlayerWinRate">{{((player.wins/(player.wins+player.losses))*100) | round(1)}}%</span>
                    {% endif %}
                    {% if config.showPlayerWinRates and config.showPlayerWinCount %}
                        <span class="championsQueuePlayerWinRate">&nbsp;</span>
                    {% endif %}
                    {% if config.showPlayerWinCount %}
                        <span class="championsQueuePlayerWinCount">{{player.wins}}-{{player.losses}}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>